# If using asdf + Homebrew on macOS, you might need these before installing PHP
# export PKG_CONFIG_PATH="$(brew --prefix openssl@3)/lib/pkgconfig:$PKG_CONFIG_PATH"
# export PHP_CONFIGURE_OPTIONS="--with-openssl=$(brew --prefix openssl@3)"
